<div class="center2 style">
    <%= image_tag"logo.jpg" %>
</div>
<body>
    <div class="center">
          <p><%= link_to "Bienvenue", menu_path , class: "btn btn-primary btn-lg" %></p>
    </div>
</body>