<div class="container5">
  <div class="center2 style">
      <%= image_tag"logo.jpg" %>
  </div>
  
  <div>
      <ul class="nav nav-tabs" id="mytab" role="tablist" >
      <li role="presentation" ><a href="#service" aria-controls="service" role="tab" data-toggle="tab" style="white">Les Services</a></li>
      <li role="presentation"><a href="#apropos" aria-controls="apropos" role="tab" data-toggle="tab" style="white">A Propos</a></li>
      <li role="presentation"><a href="#contact" aria-controls="contact" role="tab" data-toggle="tab" style="white">Contactez moi !</a></li>
    </ul>
  </div>
  <div class="tab-content">
      <div id="service" class="tab-pane fade in active">
        <div class="center3 container">
        <div class="jumbotron">
          <h1>Les Services</h1>
          <h2>Je vous propose :</h2><p><br/>- Creation de site web vitrine, site e-commerce...<br/>- Web Design<br/>- Consultation pour ameliorer votre site web<br/>- Et beaucoup encore...</p>
        </div>
       </div>
      </div>
      <div id="apropos" class="tab-pane fade">
        <div class="center3 container">
        <div class="jumbotron">
          <h1>A propos</h1>
          <p>Je me nomme Sylla Dev, cela fait plusieurs années que je m'interesse au developpement. Je suis actuellement Developpeur Web Freelance.</br> J'ai choisis de developper mes sites en " Ruby on Rails " apres avoir essayé plusieurs languages. Cependant, j'ai tous de suite acrroché avec ce language de programmation. Comme tous bon "developpeur" j'ai d'abord acquerie quelques connaissances en C ainsi que Java, sans oublier HTML/CSS qui sont indispençable pour mon activité. Ces bases m'ont donc permis d'apprendre plus facilement Ruby on Rails. </br>Maintenant je suis à votre disposition pour vos projets web et consulting...</p>
        </div>
       </div>
      </div>
      <div id="contact" class="tab-pane fade">
        <div class="center3 container">
        <div class="jumbotron">
          <h1>Contactez Moi !</h1>
          <h2>Voici mes reseaux actuellement disponible :</h2>
          </br>
          <p>- Messagerie : syllawebdev@gmail.com</br></br>- LinkedIn : <%= link_to "Sylla Dev", "https://www.linkedin.com/in/sylla-dev-52aa2b178/" %></br></br>- Instagram : <%= link_to "@syllawebdev", "https://www.instagram.com/syllawebdev/" %></p>
          
        </div>
       </div>
        
      </div>
    </div>
</div>